.zaina-works{
	position: absolute;
	width: 1440px;
	height: 544px;
	left: 0px;
	top: 3100px;
}
.works-h1{
	position: absolute;
	width: 578px;
	height: 67px;
	left: 410px;
	top: 0px;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 140%;
	color: #0073D5;
}
.works-grp{
	position: absolute;
	width: 1056px;
	height: 359px;
	left: 190px;
	top: 167px;
}
.works-icon1{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	position: static;
	width: 264px;
	height: 120px;
	left: 0px;
	top: 0px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 64px 0px;
}
.works-line1{
	position: absolute;
	width: 264px;
	left: 10px;
	top: 40%;
	bottom: 100%;
	border: 2px solid #0073D5;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;
}
.works-line2{
	position: absolute;
	width: 264px;
	left: 274px;
	top: 40%;
	bottom: 100%;
	border: 2px solid rgba(134, 167, 208, 0.4);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;
}
.works-line3{
	position: absolute;
	width: 264px;
	left: 494px;
	top: 40%;
	bottom: 100%;
	border: 2px solid rgba(134, 167, 208, 0.4);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;
}
.works-line4{
	position: absolute;
	width: 264px;
	left: 694px;
	top: 40%;
	bottom: 100%;
	opacity: 0.4;
	border: 2px solid #86A7D0;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;

}
.works-subgrp1{
	position: absolute;
	width: 264px;
	height: 70px;
	left: 0px;
	top: 200px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;
}
.works-subgrp2{
	position: absolute;
	width: 264px;
	height: 70px;
	left: 250px;
	top: 200px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;
}
.works-subgrp3{
	position: absolute;
	width: 264px;
	height: 127px;
	left: 500px;
	top: 200px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;

}
.works-subgrp4{
	position: absolute;
	width: 264px;
	height: 70px;
	left: 750px;
	top: 200px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 40px 0px;
}
.works-group-h1{
	
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #0073D5;	
}
.works-group-p{
	position: absolute;
	width: 150px;
	height: 40px;
	left: 57px;
	top: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #326383;
}