.zaina-pricing{
	position: absolute;
	width: 1440px;
	height: 935px;
	left: -5px;
	top: 4352px;
}
.pricing-h1{
	position: absolute;
	width: 400px;
	height: 134px;
	left: 515px;
	top: 0px;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 140%;
	color: #0073D5;
}
.pricing-subtitle{
	position: absolute;
	width: 619px;
	height: 53px;
	left: 515px;
	top: 151px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 23px;
	line-height: 190%;
	color: #326383;
}
.priicng-img{
	position: absolute;
	width: 223px;
	height: 230px;
	left: 183px;
	top: 25px;
}
.card-pricing1{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 50px 80px;

	position: absolute;
	width: 200px;
	height: 450px;
	left: 196px;
	top: 325px;
	background: #F5F7FA;
	border-radius: 32px;

}
.card-pricing2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 50px 80px;
	position: absolute;
	width: 200px;
	height: 450px;
	left: 570px;
	top: 325px;
	background: #2869A0;
	border-radius: 32px;

}
.card-pricing3{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 50px 80px;
	position: absolute;
	width: 200px;
	height: 450px;
	left: 950px;
	top: 325px;
	background: #F5F7FA;
	border-radius: 32px;

}
.card-pricing1-h1{
	position: static;
	width: 246px;
	height: 43px;
	left: 50px;
	top: 40px;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 180%;
	text-align: center;
	color: #2869A0;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;
}
.card-pricing1-p1{
	position: static;
	width: 246px;
	height: 34px;
	left: 50px;
	top: 115px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	text-align: center;
	color: #2869A0;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;
}