.zaina-pricing{
	position: absolute;
	width: 1440px;
	height: 935px;
	left: -5px;
	top: 4352px;
}
.pricing-h1{
	position: absolute;
	width: 400px;
	height: 134px;
	left: 515px;
	top: 0px;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 140%;
	color: #0073D5;
}
.pricing-subtitle{
	position: absolute;
	width: 619px;
	height: 53px;
	left: 515px;
	top: 151px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 23px;
	line-height: 190%;
	color: #326383;
}
.priicng-img{
	position: absolute;
	width: 223px;
	height: 230px;
	left: 183px;
	top: 25px;
}
.card-pricing1{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 50px 80px;

	position: absolute;
	width: 200px;
	height: 450px;
	left: 196px;
	top: 325px;
	background: #F5F7FA;
	border-radius: 32px;

}
.card-pricing2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 50px 80px;
	position: absolute;
	width: 200px;
	height: 450px;
	left: 570px;
	top: 325px;
	background: #2869A0;
	border-radius: 32px;

}
.card-pricing3{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 50px 80px;
	position: absolute;
	width: 200px;
	height: 450px;
	left: 950px;
	top: 325px;
	background: #F5F7FA;
	border-radius: 32px;

}
.card-pricing1-h1{
	position: absolute;
	width: 246px;
	height: 43px;
	left: 5px;
	top: 10px;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 180%;
	text-align: center;
	color: #2869A0;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;
}

.card-pricing1-p1{
	position: absolute;
	width: 246px;
	height: 34px;
	left: 30px;
	top: 80px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	text-align: center;
	color: #2869A0;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;
}
.card-pricing1-sub1-p1{
	position: absolute;
	width: 71px;
	height: 31px;
	left: 40px;
	top: 190px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #2869A0;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing1-sub1-no1{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 190px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #2869A0;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing1-sub2-p1{
	position: absolute;
	width: 71px;
	height: 31px;
	left: 40px;
	top: 220px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #2869A0;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing1-sub2-no1{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 220px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #2869A0;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing1-sub3-p1{
	position: absolute;
	width: 90px;
	height: 31px;
	left: 40px;
	top: 250px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #2869A0;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing1-sub3-no1{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 250px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #2869A0;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing1-readmore1{
	position: absolute;
	width: 84px;
	height: 22px;
	left: 60px;
	top: 300px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 180%;
	text-transform: uppercase;
	color: #10A1FD;;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 22px;
}







.card-pricing2-h1{
	position: absolute;
	width: 246px;
	height: 43px;
	left: 5px;
	top: 10px;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 180%;
	text-align: center;
	color: #FFFFFF;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;
}

.card-pricing2-p1{
	position: absolute;
	width: 246px;
	height: 34px;
	left: 30px;
	top: 80px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	text-align: center;
	color: #FFFFFF;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;
}
.card-pricing2-sub1-p1{
	position: absolute;
	width: 71px;
	height: 31px;
	left: 40px;
	top: 190px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub1-no1{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 190px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub2-p1{
	position: absolute;
	width: 71px;
	height: 31px;
	left: 40px;
	top: 220px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub2-no1{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 220px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub3-p1{
	position: absolute;
	width: 90px;
	height: 31px;
	left: 40px;
	top: 250px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub3-no1{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 250px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-readmore1{
	position: absolute;
	width: 84px;
	height: 22px;
	left: 60px;
	top: 300px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 180%;
	text-transform: uppercase;
	color: #10A1FD;;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 22px;
}







.card-pricing2-p2{
	position: absolute;
	width: 246px;
	height: 34px;
	left: 30px;
	top: 300px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	text-align: center;
	color: #FFFFFF;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;
}
.card-pricing2-sub1-p2{
	position: absolute;
	width: 71px;
	height: 31px;
	left: 40px;
	top: 390px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub1-no2{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 390px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub2-p2{
	position: absolute;
	width: 71px;
	height: 31px;
	left: 40px;
	top: 420px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub2-no2{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 420px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub3-p2{
	position: absolute;
	width: 71px;
	height: 31px;
	left: 40px;
	top: 450px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-sub3-no2{
	position: absolute;
	width: 64px;
	height: 31px;
	left: 136px;
	top: 450px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 180%;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
}
.card-pricing2-readmore1{
	position: absolute;
	width: 84px;
	height: 22px;
	left: 60px;
	top: 520px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 180%;
	text-transform: uppercase;
	color: #FFFFFF;;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 22px;
}


























