.footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:8602px;
  max-width: 100%;
  height: 250px;
  background: #0336AB;
	padding:20px;
	font-family: 'Play', sans-serif;
	display: flex;
}

.footer .column{
width:23%;
margin:0% 1%;
display:inline-block;
height: 30%;
}

.footer .column ul{
width:100%;
}

.footer .column ul li{
list-style:none;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 180%;
color: #FFFFFF;
}

.footer .column ul li a{
text-decoration:none;
font-size:1em;
color:gray;
transition:0.5s;
}



.footer .column ul .title{

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 180%;
color: #FFFFFF;


}

.footer .column ul li input{
padding:10px 5px;
outline:none;
border:0;
width:70%;
height:40px;
color:#1e1e1e;
}

.footer .column ul li .btn1{
background:;
outline:none;
border:0;
padding:5px;
color:#fff;
height:44px;
position:relative;
top:1px;
font-size:0.5em;
background:#f7bd00;
}

.footer .column ul li i{
font-size:2em;
margin:0px 10px;
}
.hr-1{
	position: absolute;
  width: 236px;
  height: 0px;
  left: 50px;
  border: 1px solid #DAE8FA;

}
.hr-2{
	position: absolute;
	width: 570px;
	height: 0px;
	left: 370px;
	border: 1px solid #DAE8FA;
}
.hr-3{
	position: absolute;
	width: 205px;
	height: 0px;
	left: 1020px;
	border: 1px solid #DAE8FA;
}
.p-text{
	/* text / caps Monts */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */

letter-spacing: 0.03em;
text-transform: uppercase;

/* color / light blue */

color: #DAE8FA;
opacity: 0.5;
}

.sub-footer{
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	background: #001E42;
	padding:5px 0px;
	text-align:center;
  color: #FFFFFF;	
  font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	}

@media (max-width:720px){
.footer .column{
width:100%;
display:block;
margin:0% 0%;
}

.footer .column:nth-child(2),.footer .column:nth-child(3){
width:40%;
display:inline-block;
}
}

@media (max-width:1200px){
.footer .column ul li input{
padding:5px 5px;
outline:none;
border:0;
width:70%;
height:34px;
color:#1e1e1e;
}
.footer .column ul li .btn1{
position:relative;
top:2px;
}
}

@media (max-width:940px){
.footer .column ul li input{
padding:5px 5px;
outline:none;
border:0;
width:60%;
height:34px;
color:#1e1e1e;
}
.footer .column ul li .btn1{
position:relative;
top:2px;
}
}
.footer-button{
	position: absolute;
	width: 203px;
	height: 38px;
	background: #10A1FD;
	border-radius: 50px;
	color: #FFFFFF;
}
.footer-box{
	position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	display: flex;
	align-items: center;

	color: #FFFFFF;
	background: #001E42;

}
.footer-box-text{

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 180%;
	color: #69B0EA;

}