
.responsive-map-container {
    position: absolute;
    height: 700px;
    filter: grayscale(100%);
    top:8100px;
    left:0%;
    width: 100%;
}

.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 48px 48px 80px;

	position: absolute;
	width: 450px;
	height: 500px;
	left: 80px;
	top: 7950px;

	background: #F5F7FA;
	border-radius: 32px;
}
.card-h2{
	position: absolute;
	width: 544px;
	height: 65px;
	left: 48px;
	top: 20px;

	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 140%;


	color: #10A1FD;
}
.card-p{
position: absolute;
width: 440px;
height: 51px;
left: 48px;
top: 129px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 180%;


color: #326383;
}
.card-p2{
position: absolute;
width: 440px;
height: 51px;
left: 48px;
top: 200px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 180%;


color: #326383;
}
.card-p3{
position: absolute;
width: 440px;
height: 51px;
left: 48px;
top: 320px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 180%;


color: #326383;
}
.card-button{
	position: absolute;
	
	justify-content: space-between;
	align-items: center;
	padding: 28px 42px;
	width: 420px;
	height: 100px;
	left: 45px;
	top: 65%;
	background: #69B0EA;
	border-radius: 32px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 32px 0px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 180%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}